body {
  margin: 0;
 font-size: large;
    font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "PTSans";
  src: local("PTSans"),
   url("./fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: bold;
 }
 @font-face {
  font-family: "PTSansBold";
  src: local("PTSansBold"),
   url("./fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
 }
 @font-face {
  font-family: "BubblegumSans";
  src: local("BubblegumSans"),
   url("./fonts/BubblegumSans-Regular.ttf") format("truetype");
  font-weight: bold;
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
